extends _templates/_site

block template-body
  header.c-header--tall
    .c-header__wrap
      +hud

      .c-header__body
        h1.c-header__text #[strong.c-header__strong Našim hlavním posláním] je zabezpečit poskytování kvalitní podpory a&nbsp;pomoci lidem při zvládání obtížných životních situací.

        a.c-header__button(href="#news") Více informací

    .c-header__hero(style="background-image: url(src/static/img/img-1.jpg)")

  +menu("homepage")

  #services.m-finder
    h2.m-finder__title Vyberte oblast, s&nbsp;kterou Vám můžeme pomoci

    ul.m-finder__categories
      each instance, index in categories
        li.m-finder__cat
          button.m-finder__filter(type="button", class=index == 0 ? "filter--is-active" : null)
            span.m-finder__thumb(style="background-image: url(src/static/img/cats/" + instance.thumb + ")")
            = instance.name

    .s-results.m-finder__results
      each instance in services
        a(href="service-nrp.html" class="m-finder__service--" + instance.id)
          abbr(title=instance.name).m-finder__id= instance.id
          strong.m-finder__name!= instance.name
          span.m-finder__hint Více o službě &rarr;

    .s-services.m-finder__footer
      h2.m-finder__title Hledáte konkrétní službu?
      button.m-finder__button(type="button", data-toggle="services") Zobrazit všechny služby

  include _partials/_news

  #about.m-longform
    .m-longform__wrap
      h2.m-longform__title Kdo jsme
      .c-editor.m-longform__content(data-find-external)        
        p Centrum sociálních služeb Ostrava, o.p.s., má dlouholetou historii. Vzniklo transformací organizace města Ostrava. Jeho hlavním posláním je zabezpečit poskytování kvalitní podpory a pomoci lidem při zvládání obtížných životních situací a na to navázat hledání dalších systémů podpory těmto lidem.
        p Nabízíme sociální a psychologické poradenství, přechodné ubytování, základní informační servis a další činnosti podle zákona č. 108/2006 Sb., o sociálních službách v rámci těchto zařízení:
        ul
          li Rodinná poradna (§ 37b odborné sociální poradenství)
          li Azylový dům pro matky s dětmi (§ 57 azylový dům)
          li Azylový dům pro muže Palackého (§ 57 azylový dům)
          li Dům na půl cesty (§ 58 dům na půl cesty)
          li Sociálně aktivizační služby pro rodiny s dětmi (§ 65 sociálně aktivizační služby)
          li Pečovatelská služba (§ 40 pečovatelská služba)
        p Zároveň jsme doprovázející organizací pěstounů a poručníků na základě novely zákona o sociálně-právní ochraně dětí: Náhradní rodinná péče.
        p Navíc poskytujeme doplňkové činnosti vzdělávání vedoucích pracovníků, sociálních pracovníků, pracovníků v sociálních službách a pěstounů (dle novely zákona o SPOD), nově např. pedagogů i veřejnosti jako takové, vše v rámci: Sociální akademie – vzdělávací středisko.
        p Spolupracovali jsme se stavebním sociálním podnikem, který se zabýval drobnými stavebními a řemeslnými pracemi či nekvalifikovanými manuálními činnostmi se zaměstnáváním znevýhodněných osob na trhu práce: KASEA CZ, s.r.o.
        p Jsme správci osobních údajů, držiteli povolení ke zprostředkování zaměstnání, registrace sociálních služeb a pověření k výkonu sociálně – právní ochrany dětí.

      .m-longform__more
        button.m-longform__expand(type="button", data-toggle="longform") Více o nás

  include _partials/_contact

  include _partials/_tiles

  .m-people
    h3.m-people__title Vedení organizace
    ul.m-people__list
      each person in people.main
        li.m-people__item
          span.m-people__icon
            include ../static/svg/icon-person.svg
          strong.m-people__name= person.name
          span.m-people__position= person.position
          ul.m-people__contact
            if person.phone
              li
                abbr.m-people__abbr(title="Telefon") T
                | 
                a(href="tel:" + person.phone)= person.phone
            if person.email
              li
                abbr.m-people__abbr(title="E-mail") E
                | 
                a(href="mailto:" + person.email)= person.email

  include _partials/_partners

  +footer
